.cl-avatarBox {
  width: 35px;
  height: 35px;
}

.cl-organizationSwitcherPopoverFooter,
.cl-footer,
.cl-userButtonPopoverFooter,
.cl-internal-df7v37,
.cl-userButtonPopoverActionButton__manageAccount,
.cl-internal-1vnyqkf {
  display: none;
}

.cl-organizationSwitcherPopoverActionButton {
  margin: 0 10px;
}
